{% extends 'home/base.html' %}
{% load static %}


{% block home_css %}
    <link href="{% static 'home/css/sections.css' %}" rel="stylesheet">
{% endblock home_css %}

{% block breadcrumbs %}
    <li class="breadcrumb-item active">Sections</li>
{% endblock breadcrumbs %}
    

{% block home_content %}


<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="section-container">
                

                <div class="row">
                    <div class="col-sm-12">
                        <h1 class="display-5 m-0 pl-3 float-left open-font">Sections</h1>
                        <a href="{% url 'home:create-section' %}" class="btn btn-primary btn-view float-right"><i class="fas fa-plus"></i> Add Section</a>
                    </div>
                </div>
                <!-- STUB View All -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="view-all-container m-2 pt-4 pl-3 muli-font">
                            The Computer Engineering Department currently have <strong class="font-weight-bold">{{ all_student_count }}</strong> 5th year students. Do you want to view them all? 
                            <!-- <a href="#" class="view-all-link">View All</a> -->
                            <a href="{% url 'home:student-list' %}" class="btn btn-danger border-20">View All Students</a>
                        </div>
                    </div><!--col-md-12 end-->
                </div><!--row end-->
                <!-- STUB View All end-->
                <div class="row pt-3">
                    {% for section in section_list %}
                        <div class="col-sm-4">
                            <!--STUB Card -->
                            <div class="card mb-5 mx-5">
                                <!-- Card image -->
                                <img class="card-img-top img-card" src="{% static 'home/images/student2.png' %}" alt="Card image cap">
                                <!-- Card content -->
                                <div class="card-body">
                                    <h4 class="card-title muli-font"><a>Section {{ section.name }} {{ section.pk }}</a></h4>
                                    <p class="card-text">
                                        <div class="year muli-font">
                                            A.Y {{ section.academic_year }}
                                        </div>
                                    </p>
                                    <div class="row">
                                        <div class="col-md-6 col-sm-12 float-left">
                                            <a href="{% url 'home:student-list-view' pk=section.pk %}" class="btn btn-primary btn-view">View</a>
                                        </div>
                                        <div class="col-md-6 col-sm-12">
                                            <p class="pt-3">
                                                {{ section.student_set.count }} students
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div><!--STUB Card End-->
                        </div>
                    {% endfor %}
                </div><!--row end-->
            </div><!--section container-->
        </div>
    </div><!--row end-->
</div><!--container fluid end-->
{% endblock home_content %}

{% block home_js %}
    <script>
        // FOR ACTIVE LI OF SIDEBAR
        $('ul.sidebar-nav li.dashboard').removeClass('active');
        $('ul.sidebar-nav li.user').removeClass('active');
        $('ul.sidebar-nav li.students').addClass('active');

    </script>
{% endblock home_js %}