{% extends 'home/base.html' %}
{% load static %}


{% block home_css %}
    <link rel="stylesheet" href="{% static 'home/plugins/datatables/datatables.min.css' %}">
    <link rel="stylesheet" href="{% static 'home/plugins/select2/css/select2.min.css' %}">
    <link rel="stylesheet" href="{% static 'home/css/sections.css' %}" >
    <style>
        #studentListTable_length .select2-container--default .select2-selection--single {
    border-radius: 10px !important;
    width: 80px !important;
}

#studentListTable_length .select2-container .select2-selection--single .select2-selection__rendered {
    text-align: left !important;
}

#studentListTable_length .select2-container--default .select2-selection--single .select2-selection__arrow {
    right: -16px !important;
}

ul#select2-studentListTable_length-8p-results, .select2-dropdown {
    width: 80px !important;
    text-align: center !important;
}
    </style>
{% endblock home_css %}
    

{% block home_content %}


<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="section-container">
                <div class="row">
                    <div class="col-sm-12">
                        <h1 class="display-5 m-0 pl-3 float-left open-font">Section {{ section.name }}</h1>
                        <a href="{% url 'home:create-student' pk=section.pk %}" class="btn btn-primary btn-view float-right"><i class="fas fa-plus"></i> Add Student</a>
                    </div>
                    <!-- <div class="col-sm-12">
                        <span class="total-students muli-font ml-3">39 students</span>
                    </div> -->
                </div>
                <div class="row my-3">
                    <div class="col-md-12">
                        <div class="entries float-left d-inline">
                            <!-- page length option -->
                        </div>
                        <input type="text" class="float-right w-25 tableSearchInput form-control" name="search" id="searchStudentList" placeholder="Search student here">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <table id="studentListTable" class="table" style="width: 100%;">
                            <thead>
                                    <th>Student Number</th>
                                    <th>Student Name</th>
                                    <th>Gender</th>
                                    <th>Actions</th>
                            </thead>
                            <tbody>
                                {% for student in student_list %}
                                    <tr>
                                        <td class="pt-4">{{ student.student_number }}</td>
                                        <td class="pt-4"><a class="table-link" href="#">{{ student.last_name }}, {{ student.first_name }} {{ student.middle_name }}</a></td>
                                        <td class="pt-4">
                                            {% if student.gender == 0 %}
                                                Male
                                            {% else %}
                                                Female
                                            {% endif %}
                                        </td>
                                        <td>
                                            <a href="{% url 'home:view-student' %}" class="btn btn-success btn-view-table btn-sm"><i class="fas fa-clipboard"></i> View</a>
                                            <a href="{% url 'home:update-student' pk=student.pk %}" class="btn btn-warning btn-sm mx-3"><i class="fas fa-pencil-alt"></i> Update</a>
                                            <span class="btn btn-danger btn-sm" data-toggle="modal" data-target="#confirmDelete"><i class="fas fa-trash-alt"></i> Delete</span>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div><!--col-12 end-->
                </div><!--row end-->
            </div><!--section container-->
        </div>
    </div><!--row end-->
</div><!--container fluid end-->

<!-- STUB CONFIRM DELETE MODAL -->
<div class="modal fade" id="confirmDelete" tabindex="-1" role="dialog" aria-labelledby="confirmDelete" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
                <div class="row">
                    <div class="col-md-12">
                        <center class="py-5 ">
                            <i class="fas fa-trash fa-10x animated jello" style="color: #f84c71 !important;"></i>
                        </center>
                    </div><!--col-md-12 end-->
                </div><!--row end-->
                <div class="row">
                    <div class="col-md-12">
                        <center>
                            <button type="button" class="btn btn-warning border-20 muli-font" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-danger border-20 muli-font">Yes, Delete!</button>
                        </center>
                    </div><!--col-md-12 end-->
                </div><!--row end-->
            </div><!--modal body end-->
        </div>
    </div>
</div>

<!-- STUB MODAL END -->
{% endblock home_content %}

{% block home_js %}
    <script src="{% static 'home/plugins/datatables/datatables.js' %}"></script>
    <script src="{% static 'home/plugins/select2/js/select2.min.js' %}"></script>
    <script>

        $(document).ready(function() {
            // FOR ACTIVE LI OF SIDEBAR
            $('ul.sidebar-nav li.dashboard').removeClass('active');
            $('ul.sidebar-nav li.user').removeClass('active');
            $('ul.sidebar-nav li.students').addClass('active');


            $('#studentListTable').DataTable({
                "dom": 'lrtip',
                "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
                "oLanguage": {
                    sLengthMenu: "_MENU_",
                },
                "language": {
                    "info": "Showing _START_ to _END_ of _TOTAL_ students",
                }
                
            });
            
            // For creating custom search bar
            studentListTable = $('#studentListTable').DataTable();  

            $('#searchStudentList').keyup(function(){
                studentListTable.search($(this).val()).draw() ;
            });


            // Move page length option, page previous and next, show entries
            $('#studentListTable_length').detach().appendTo('.entries');
            $('#studentListTable_info').addClass('float-left d-inline');
            $('div.dataTables_wrapper div.dataTables_info').addClass('pt-1');

            // initialize select for page length option
            $('#studentListTable_length select').select2({
                minimumResultsForSearch: -1
            });
        } );
    </script>
{% endblock home_js %}