{% extends 'home/base.html' %}
{% load static %}


{% block home_css %}
    <link rel="stylesheet" href="{% static 'home/css/student.css' %}" >

{% endblock home_css %}


{% block breadcrumbs %}
    <li class="breadcrumb-item"><a href="{% url 'home:sections' %}">Sections</a></li>
    <li class="breadcrumb-item"><a href="{% url 'home:student-list-view' pk=student.section.pk %}">Section {{ student.section.name }}</a></li>
    <li class="breadcrumb-item active">{{ student.last_name }}</li> 
{% endblock breadcrumbs %}
    

{% block home_content %}


<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="section-container">
                <div class="row">
                    <div class="col-sm-12">
                        <h1 class="display-5 m-0 pl-3 pb-3 float-left open-font text-uppercase font-weight-bold">Student</h1>
                    </div>
                </div><!--row end-->
                <div class="row">
                    <div class="col-md-12">
                        <div class="container-name text-uppercase muli-font">
                            <h4>{{ student.last_name }}, {{ student.first_name }} {{ student.middle_name }}</h4>
                        </div>
                    </div><!--col-md-12 end-->
                </div><!--row end-->
                <div class="row">
                    <div class="col-md-12">
                        <div class="student-container">
                            <div class="container-view pt-4 pl-4">
                                <div class="row">
                                    <div class="col-md-12">
                                        <span class="btn btn-danger float-right mr-3" data-toggle="modal" data-target="#confirmDelete"><i class="fas fa-trash-alt"></i> Delete</span>

                                        <a href="{% url 'home:update-student' pk=student.pk %}" class="btn btn-warning float-right"><i class="fas fa-pencil-alt"></i> Update</a>
                                    </div>
                                </div><!--row end-->
                                <!-- STUB STUDENT NUMBER -->
                                <div class="row">
                                    <div class="col-sm-12 col-md-4 col-lg-2">
                                        <div class="student-section font-weight-bold muli-font">STUDENT NUMBER</div>
                                    </div>
                                    <div class="col-sm-12 col-md-8 col-lg-10">
                                        <div class="student-section muli-font">
                                            <span class="student-copy" onclick="copyToClipboard('.student-number-text')" data-toggle="tooltip" title="Copy Student Number">
                                                <span class="student-number-text">
                                                    {{ student.student_number }}
                                                </span>
                                            </span>
                                        </div>
                                    </div>
                                </div><!--row end-->
                                <!-- STUB SECTION -->
                                <div class="row">
                                    <div class="col-sm-12 col-md-4 col-lg-2">
                                        <div class="student-section font-weight-bold muli-font">SECTION</div>
                                    </div>
                                    <div class="col-sm-12 col-md-8 col-lg-10">
                                        <div class="student-section muli-font">{{ student.section.name }}</div>
                                    </div>
                                </div><!--row end-->
                                <!-- STUB GENDER-->
                                <div class="row">
                                    <div class="col-sm-12 col-md-4 col-lg-2">
                                        <div class="student-section font-weight-bold muli-font">GENDER</div>
                                    </div>
                                    <div class="col-sm-12 col-md-8 col-lg-10">
                                        <div class="student-section muli-font">
                                            {% if student.gender == 0 %}
                                                MALE
                                            {% else %}
                                                FEMALE
                                            {% endif %}
                                        </div>
                                    </div>
                                </div><!--row end-->
                            </div>
                        </div>
                    </div><!--col-md-12 end-->
                </div><!--row end-->
                
            </div><!--section container-->
        </div>
    </div><!--row end-->
</div><!--container fluid end-->


<div class="modal fade" id="confirmDelete" tabindex="-1" role="dialog" aria-labelledby="confirmDelete" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
                <div class="row">
                    <div class="col-md-12">
                        <center class="py-5 ">
                            <i class="fas fa-trash fa-10x animated jello" style="color: #f84c71 !important;"></i>
                        </center>
                    </div><!--col-md-12 end-->
                </div><!--row end-->
                <div class="row">
                    <div class="col-md-12">
                        <center>
                            <button type="button" class="btn btn-warning border-20 muli-font" data-dismiss="modal">Close</button>
                            <a href="{% url 'home:delete-student' pk=student.pk %}" class="btn btn-danger border-20 muli-font">Yes, Delete!</a>
                        </center>
                    </div><!--col-md-12 end-->
                </div><!--row end-->
            </div><!--modal body end-->
        </div>
    </div>
</div>

{% endblock home_content %}

{% block home_js %}
    <script src="{% static 'home/plugins/datatables/datatables.js' %}"></script>
    <script src="{% static 'home/plugins/select2/js/select2.min.js' %}"></script>
    <script>

        $(document).ready(function() {
            // FOR ACTIVE LI OF SIDEBAR
            $('ul.sidebar-nav li.dashboard').removeClass('active');
            $('ul.sidebar-nav li.user').removeClass('active');
            $('ul.sidebar-nav li.students').addClass('active');

            // tooltip init
            $('[data-toggle="tooltip"]').tooltip();

            
            
         

        });
    </script>
{% endblock home_js %}