/* .jumbotron{
    border-radius: 2rem;
    padding: 3vh;
}

.card{
    border-radius: 2rem;
    padding: 5vh;
} */





.display-5{
    font-family: 'Montserrat', sans-serif;
}

/* SECTION Cards */
.card {
    /* border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px; */
    border-radius: 50px;
    border-top-color: transparent;
    /* -webkit-box-shadow: 0px 10px 6px 0px rgba(232,92,98,1);
    -moz-box-shadow: 0px 10px 6px 0px rgba(232,92,98,1);
    box-shadow: 0px 10px 6px 0px rgba(232,92,98,1); */
    transition: 0.4s ease-in-out;
}
.card:hover {
    -webkit-box-shadow: 0px 10px 6px 0px var(--primary-color);
    -moz-box-shadow: 0px 10px 6px 0px var(--primary-color);
    box-shadow: 0px 10px 6px 0px var(--primary-color);
}
.img-card {
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}

.year {
    color: var(--secondary-text-color);
}

/* SECTION BUTTONS */

.btn-danger {
    background-color: var(--fourth-button) !important;
}
.btn-warning {
    background-color: var(--secondary-button) !important;
}
.btn-success.btn-view-table {
    background-color: var(--third-button) !important;
}
.btn-danger:not([disabled]):not(.disabled):active {
    background-color: var(--fourth-button-hover) !important;
}
.btn-warning:not([disabled]):not(.disabled):active {
    background-color: var(--secondary-button-hover) !important;
}
.btn-success:not([disabled]):not(.disabled):active {
    background-color: var(--third-button-hover) !important;
}

.border-20 {
    border-radius: 20px !important;
}

/*SECTION HEADINGS */
h3.title {
    /* text-transform: uppercase; */
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 2px;
}

.md-form label {
    top: -5px;
    margin-left: 10px;
}

.total-students {
    background-color: var(--primary-color);
    color: var(--third-color);
    padding: 0.5em;
    border-radius: 20px;
}


/* SECTION Tables */
.tableSearchInput {
    border-radius: 20px;
    outline: none;
    font-family: 'Muli', sans-serif;
    border: 2px solid var(--search-input-border-color);
    transition: 0.5s ease-in-out;
}
.form-control:focus, select:focus, select:active, select:hover {
    outline: none !important;
    border-color: var(--search-input-focus) !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.table {
    border: 3px solid var(--table-border);
    border-radius: 10px;
    font-family: 'Muli', sans-serif;
}
.table thead th, .table tbody tr td{
    border: 2px solid var(--table-border) !important;
}
.table thead th {
    font-weight: bold;
}
.table tbody tr:hover {
    background: var(--table-row-hover);
    transition: 0.4s ease-in-out;
}
.table th:hover {
    background-color: var(--secondary-color);
    transition: 0.4s ease-in-out;
}
.table-link {
    font-family: 'Muli', sans-serif;
    font-weight: bold;
    transition: 0.3s ease-in-out;
}
.table-link:hover {
    color: var(--fourth-color);
}

.pagination .page-item.active .page-link {
    background-color: var(--dark-color);
}
.pagination .page-item.active .page-link:hover {
    color: var(--primary-color);
    background-color: var(--fifth-color);
}
#studentListTable_info, #sectionListTable_info {
    font-family: 'Muli', sans-serif;
    margin-left: 10px;
}

/* SECTION View All Students */
.view-all-container {
    background-color: var(--fifth-color);
    border-radius: 20px;
    height: 10vh;
}


/* SECTION update sections */
.update-section {
    cursor: pointer;
    transition: 0.4s ease-in-out;
    color: var(--dark-text-color);
}
.update-section:hover {
    color: var(--primary-color);
}