.student-container {
    background-color: var(--fourth-color);
    border-radius: 50px;
    border-top-left-radius: 0px !important;
}
.container-view {
    border: 3px solid var(--fourth-color);
    border-radius: 50px;
    /* border-top-left-radius: 0px !important; */
    height: 70vh;
    min-height: 100%;
    background-color: var(--container-color);
}
.container-name {
    background-color: var(--fourth-color);
    width: max-content;
    padding: 10px 10px 4px 10px;
    border-radius: 50px;
    border-bottom-left-radius: 0px !important;
}

/* SECTION BUTTONS */
.btn-warning:not([disabled]):not(.disabled):active {
    background-color: var(--primary-color) !important;
}

.btn-danger {
    background-color: var(--fourth-button) !important;
    border-radius: 20px !important;
    
}
.btn-warning {
    background-color: var(--secondary-button) !important;
    border-radius: 20px;
}

.btn-danger:not([disabled]):not(.disabled):active {
    background-color: var(--fourth-button-hover) !important;
}
.btn-warning:not([disabled]):not(.disabled):active {
    background-color: var(--secondary-button-hover) !important;
}

.student-number-text {
    font-weight: bold;
    transition: 0.4s ease-in-out;
    cursor: pointer;
}
.student-number-text:hover{
    color: var(--primary-color);
}

/* SECTION Colors */
.bright-pink {
    color: var(--primary-color) !important;
}