body {
    padding-bottom: 30px;
    position: relative;
    min-height: 100%;
    background: var(--background-color);
}

a {
    transition: background 0.2s, color 0.2s;
}
a:hover,
a:focus {
    text-decoration: none;
}

#wrapper {
    padding-left: 0;
    transition: all 0.5s ease;
    position: relative;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    overflow-x: hidden;
    background: var(--sidebar-bg-color);
    transition: all 0.5s ease;
    font-family: 'Open Sans', sans-serif !important;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

.sidebar-brand {
    position: absolute;
    top: 56px;
    left: 50px;
    width: 250px;
    
    text-align: center;
    padding: 20px 0;
    transition: 0.5s ease-in-out;
}

.sidebar-brand.minimized{
    left: 15px;
    top: 10px;
    transition: 0.5s ease-in-out;
}

.sidebar-brand h2 {
    margin: 0;
    font-size: 24px;
    color: var(--light-text-color);
}

.sidebar-nav {
    position: absolute;
    top: 270px;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
    transition: 0.5s ease-in-out;

}

.sidebar-nav.minimized{
    top: 115px;
    transition: 0.5s ease-in-out;
}

.sidebar-nav > li {
    text-indent: 10px;
    line-height: 42px;
}
.sidebar-nav > li a {
    display: block;
    text-decoration: none;
    margin: 0 20px 0 20px;
    color: var(--dark-text-color);
    font-size: 18px;
}
.sidebar-nav > li > a:hover,
.sidebar-nav > li.active > a {
    text-decoration: none;
    color: var(--light-text-color);
    background: var(--sidebar-active-bg-color);
    margin: 0 20px 0 20px;
    border-radius: 50px;
    transition: 0.5s ease-in-out;
}
.sidebar-nav > li > a i.fa {
    font-size: 24px;
    width: 80px;
}

#navbar-wrapper {
    width: 100%;
    position: absolute;
    z-index: 2;
}
#wrapper.toggled #navbar-wrapper {
    position: absolute;
    margin-right: -250px;
}
#navbar-wrapper .navbar {
    border-width: 0 0 0 0;
    background-color: var(--light-color);
    font-size: 24px;
    margin-bottom: 0;
    border-radius: 0;
}
#navbar-wrapper .navbar a {
    color: var(--secondary-text-color);
}
#navbar-wrapper .navbar a:hover {
    color: var(--primary-color);
}

#content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
    top: 100px;
}
#wrapper.toggled #content-wrapper {
    position: absolute;
    margin-right: -250px;
}

.sidebar-nav > li.menu-bar > a:hover{
    background: transparent;
}

@media (min-width: 992px) {
    #wrapper {
    padding-left: 250px;
    }
    
    #wrapper.toggled {
    padding-left: 80px;
    }

    #sidebar-wrapper {
    width: 250px;
    }
    
    #wrapper.toggled #sidebar-wrapper {
    width: 80px;
    }
    
    #wrapper.toggled #navbar-wrapper {
    position: absolute;
    margin-right: -190px;
}
    
    #wrapper.toggled #content-wrapper {
    position: absolute;
    margin-right: -190px;
    }

    #navbar-wrapper {
    position: relative;
    }

    #wrapper.toggled {
    padding-left: 80px;
    }

    #content-wrapper {
    position: relative;
    top: 0;
    }

    #wrapper.toggled #navbar-wrapper,
    #wrapper.toggled #content-wrapper {
    position: relative;
    margin-right: 80px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    #wrapper {
    padding-left: 80px;
    }

    #sidebar-wrapper {
    width: 80px;
    }
    
#wrapper.toggled #navbar-wrapper {
    position: absolute;
    margin-right: -250px;
}
    
    #wrapper.toggled #content-wrapper {
    position: absolute;
    margin-right: -250px;
    }

    #navbar-wrapper {
    position: relative;
    }

    #wrapper.toggled {
    padding-left: 250px;
    }

    #content-wrapper {
    position: relative;
    top: 0;
    }

    #wrapper.toggled #navbar-wrapper,
    #wrapper.toggled #content-wrapper {
    position: relative;
    margin-right: 250px;
    }
}

@media (max-width: 767px) {
    #wrapper {
    padding-left: 0;
    }

    #sidebar-wrapper {
    width: 0;
    }

    #wrapper.toggled #sidebar-wrapper {
    width: 250px;
    }
    #wrapper.toggled #navbar-wrapper {
    position: absolute;
    margin-right: -250px;
    }

    #wrapper.toggled #content-wrapper {
    position: absolute;
    margin-right: -250px;
    }

    #navbar-wrapper {
    position: relative;
    }

    #wrapper.toggled {
    padding-left: 250px;
    }

    #content-wrapper {
    position: relative;
    top: 0;
    }

    #wrapper.toggled #navbar-wrapper,
    #wrapper.toggled #content-wrapper {
    position: relative;
    margin-right: 250px;
    }
}

/* SECTION Containers */
.welcome-container {
    background-color: var(--container-color);
    border-radius: 30px;
    height: 25vh;
}
.number-container {
    background-color: var(--container-color);
    text-transform: capitalize;
    border-radius: 30px;
    height: 53vh;
}
.side-container {
    background-color: var(--container-color);
    text-transform: capitalize;
    border-radius: 30px;
    height: 50vh;
}
.bottom-container {
    background-color: var(--container-color);
    text-transform: capitalize;
    border-radius: 30px;
    height: 28vh;
}
/* STUB Image */
.profile-img-container {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 8px solid var(--container-color);
    transition: 1s ease-in-out;

}
.img-profile {
    border-radius: 50%;
    width: 150px;
    height: 134px;
    border: 0px solid transparent;
    transition: 1s ease-in-out;

}

.profile-img-container.minimized{
    max-width: 50px;
    max-height: 50px;
    border: 2px solid var(--light-color);
    transition: 0.5s ease-in-out;
    
}

.img-profile.minimized{
    max-width: 45px;
    max-height: 45px;
    transition: 0.5s ease-in-out;

}

.welcome-note {
    font-size: large;
}
/* 
.img-dashboard {
    max-width:100%;
    max-height:100%;    
}*/
.portrait {
    height: 103px;
    width: 325px;
    position: absolute;
    bottom: 150px;
    left: 45px;
} 

/* SECTION CALENDAR */
.fc-button-primary, .fc-today-button {
    background-color: var(--fourth-color) !important;
    color: var(--dark-text-color) !important;
    font-family: 'Muli', sans-serif !important;
    border: none !important    ;
}
.fc-unthemed td.fc-today {
    background-color: var(--fourth-color) !important;
}

/* SECTION Actions Container */
.lighter-pink {
    background-color: var(--fifth-color);
}
.action-container {
    border-radius: 10px;
    padding: 5px;
    font-family: 'Muli', sans-serif;
}

/* SECTION Scroll */
.created-log {
    color: var(--secondary-text-color);
}

.scrollbar-ripe-malinka::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: var(--gray-color);
    border-radius: 10px; 
}

.scrollbar-ripe-malinka::-webkit-scrollbar {
    width: 12px;
    background-color: var(--gray-color);
}

.scrollbar-ripe-malinka::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-image: -webkit-linear-gradient(330deg, var(--fourth-color) 0%, var(--primary-color) 100%);
    background-image: linear-gradient(120deg, var(--fourth-color) 0%, var(--primary-color) 100%); 
}

.square::-webkit-scrollbar-track {
    border-radius: 0 !important; 
}

.square::-webkit-scrollbar-thumb {
    border-radius: 0 !important; 
}

.thin::-webkit-scrollbar {
    width: 6px; 
}

.example-1 {
    position: relative;
    overflow-y: scroll;
    height: 200px; 
}