@import url('https://fonts.googleapis.com/css?family=Montserrat|Poppins&display=swap');
@import url('https://fonts.googleapis.com/css?family=Cabin|Muli|Open+Sans|Tomorrow&display=swap');

/* SECTION FONTS */
.muli-font {
    font-family: 'Muli', sans-serif;
}

.cabin-font {
    font-family: 'Cabin', sans-serif;
}

.tomorrow-font {
    font-family: 'Tomorrow', sans-serif;
}

.open-font {
    font-family: 'Open Sans', sans-serif;
}

.monserrat-font {
    font-family: 'Montserrat', sans-serif;
}

.pink-gradient {
    background: rgb(248,76,113) !important;
    background: linear-gradient(45deg, rgba(248,76,113,1) 35%, rgba(253,207,214,1) 97%) !important;
}

.bright-pink {
    color: #f84c71 !important;
}

.form-control:focus{
    outline: none !important;
    border-color: #000 !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid #000 !important;
    transition: 0.4s ease-in-out;
}

.img-container {
    background-image: url('../../../static/account/images/school.jpg') !important;
    width: 100% !important;
    /* height: 100% !important; */
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    background: #666666;
    height: 80vh;
}

.login-container{
    padding: 10vh;
}

.login-card{
    border-radius: 1rem;
    height: 80vh;
}

.imaginary {
    height: 20vh;;
}
.login-text-input{
    font-family: 'Poppins', sans-serif;    
    font-size: 15px;
    line-height: 1.5;
    color: #666666;
  
    display: block;
    width: 100%;
    background: #e6e6e6;
    height: 50px;
    border-radius: 25px;
    padding: 0 20px 0 20px;

    outline: none;
    border: none;
}

.login-button{
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    line-height: 1.5;
    color: #fff;
    text-transform: uppercase;
  
    width: 100%;
    height: 50px;
    border-radius: 25px;
    background: #180708;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 25px;
  
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;

    outline: none;
    border: none;
}

.login-image{
    object-fit: none; /* Do not scale the image */
    object-position: center; /* Center the image within the element */
    width: 100%;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
}